@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Slab:wght@100..900&display=swap");

H1,
h2,
h3 {
  font-family: "Open Sans", sans-serif;
}

h4,
h5,
h6 {
  font-family: "Roboto Slab", sans-serif;
}

p {
  font-family: "Maven Pro", sans-serif;
}

.bgaccent {
  background-color: #7ed321;
  color: white;
}

.bgsecond {
  background-color: #d4d4d4;
}

.accent-color {
  color: #7ed321;
}

body::before {
  display: block;
  content: "";
  height: 60px;
}

#map {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}

nav .custom-navbar a {
  color: black;
  font-family: "Roboto", sans-serif;
}

nav .navbar-brand {
  font-weight: bold;
  text-decoration: none;
}

nav .navbar-brand:hover {
  text-decoration: underline;
}

nav .nav-item a {
  text-decoration: none;
}

nav .nav-item:hover a {
  text-decoration: underline;
}

.white {
  color: white;
}

.black {
  color: black;
}

nav .custom-navbar-button {
  background-color: #7ed321;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  font-family: "Roboto", sans-serif;
  font-size: 0.75em;
}

body .custom-button {
  background-color: #7ed321;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  font-family: "Roboto", sans-serif;
}

body .custom-mainimg {
  border-radius: 10px;
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.363));
}

.horizontal-divider {
  border-top: 1px solid #000;
  margin: 20px 0;
}

body .custom-text-area {
  background-image: linear-gradient(to right, #7ed321, #325c06, #7ed321);
  color: white;
  border-radius: 10px;
  padding: 5px 10px;
  font-family: "Roboto", sans-serif;
  font-size: 0.75em;
}

body {
  font-family: "Roboto", sans-serif; /* Example font family */
  color: #333; /* Example text color */
  font-size: 16px; /* Example font size */
  line-height: 1.5; /* Example line height */
}

footer .custom-footer-area {
  color: black;
  border-radius: 10px;
  padding: 5px 10px;
  font-family: "Roboto", sans-serif;
  font-size: 0.75em;
}

footer .custom-footer-contact p {
  font-weight: bold;
}

.partner-photos {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.partner {
  flex: 1 1 45%;
  text-align: center;
  font-weight: 700;
}

.partner img {
  width: 80%;
  height: auto;
}

.half-size {
  font-size: large;
  font-weight: 700;
  display: inline-block;
  width: 48%;
}

.half-size li {
  padding-bottom: 10px;
}

.quarter-size {
  font-size: medium;
  font-weight: 400;
  display: inline-block;
  width: 23%;
  vertical-align: top;
  border-left-style: solid;
  border-right-style: solid;
  border-top-style: solid;
  border-width: 1px;
  border-color: #D4D4D4;
}

.quarter-size img {
  width: 40%;
  height: auto;
}

.custom-pratice-area-img
{
  color: ffffff;
  width: 4em;
  height: 4em;
  border: none;
}

.custom-pratice-area-card {
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 5px 10px;  
  font-family: "Roboto", sans-serif;
}

.custom-pratice-area-card {
  height: 225px; /* 设置元素的高度为 200 像素 */
}

@media (min-width: 992px) {
  .custom-pratice-area-border {
    border: none;
  }
}

.testimonial-img {
  width: 50%;
  height: auto;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%237ed321'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%237ed321'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e")
}