@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Slab:wght@100..900&display=swap");

H1,
h2,
h3 {
  font-family: "Open Sans", sans-serif;
}

h4,
h5,
h6 {
  font-family: "Roboto Slab", sans-serif;
}

p {
  font-family: "Maven Pro", sans-serif;
}

body::before {
  display: block;
  content: "";
  height: 60px;
}

#map {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}

nav .custom-navbar a {
  color: black;
  font-family: "Roboto", sans-serif;
}

nav .navbar-brand {
  font-weight: bold;
  text-decoration: none;
}

nav .navbar-brand:hover {
  text-decoration: underline;
}

nav .nav-item a {
  text-decoration: none;
}

nav .nav-item:hover a {
  text-decoration: underline;
}

.white {
  color: white;
}

.black {
  color: black;
}

nav .custom-navbar-button {
  background-image: linear-gradient(to right, #7ed321, #325c06);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  font-family: "Roboto", sans-serif;
  font-size: 0.75em;
}

body .custom-button {
  background-image: linear-gradient(to right, #7ed321, #325c06);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  font-family: "Roboto", sans-serif;
}

body .custom-mainimg {
  border-radius: 10px;
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.363));
}

.horizontal-divider {
  border-top: 1px solid #000;
  margin: 20px 0;
}

body .custom-text-area {
  background-image: linear-gradient(to right, #7ed321, #325c06, #7ed321);
  color: white;
  border-radius: 10px;
  padding: 5px 10px;
  font-family: "Roboto", sans-serif;
  font-size: 0.75em;
}

body {
  font-family: "Roboto", sans-serif; /* Example font family */
  color: #333; /* Example text color */
  font-size: 16px; /* Example font size */
  line-height: 1.5; /* Example line height */
}

footer .custom-footer-area {
  color: black;
  border-radius: 10px;
  padding: 5px 10px;
  font-family: "Roboto", sans-serif;
  font-size: 0.75em;
}

footer .custom-footer-contact p {
  font-weight: bold;
}

.partner-photos {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.partner {
  flex: 1 1 45%;
  text-align: center;
  font-weight: 700;
}

.partner img {
  width: 80%;
  height: auto;
}

.half-size {
  font-size: large;
  font-weight: 700;
  display: inline-block;
  width: 48%;
}

.quarter-size {
  font-size: medium;
  font-weight: 400;
  display: inline-block;
  width: 23%;
}
